<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fairmontsinternational.charlie.fairmontsinternational">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/fairmontslogo"
        android:label="@string/app_name2"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DiaryComment"
            android:label="Extra-Curricula Diary Comments"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".Extra_Diary"
            android:label="Extra-Curricula Diary"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".ForgetPasswordCode"
            android:label="Forgot Password"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".BankInfoActivity"
            android:label="Fee Payment Bank Information"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".ForgetPassword"
            android:label="Change Password"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".NotificationActivity"
            android:label="@string/notification"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity android:name=".FeeInvoice" />
        <activity android:name=".Diary" />
        <activity
            android:name=".Feedback"
            android:label="Feedback"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".UserProfile"
            android:label="Profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainHomepage"
            android:label="@string/app_name2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Homepage"
            android:label="MyFairmont"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".StudentProfile"
            android:label="@string/profie_activity_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".children_profiles"
            android:label="@string/choose_activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".splashscreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fees"
            android:label="Fees"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".timetables"
            android:label="Timetable"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".Reports"
            android:label="Student Diary"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".Attendance"
            android:label="Attendance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".Coursework"
            android:label="Coursework"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".ExamMarks"
            android:parentActivityName=".Coursework"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".ParentComment"
            android:label="Comment on Student Diary"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".Introduction"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreatePassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateAccount"
            android:screenOrientation="portrait" />
    </application>

</manifest>